PRATIKUM

In [ ]:
print("p")

p

In [ ]:
print('Hello world')

Hello world

In [ ]:
print('Hello world single quotes') # Strings can be enclosed in single quotes
print("Hello world double quotes") # Strings can also be enclosed in double quotes

#------------------------------------------------

print('Hello world') # Each print statements starts on a new line
print() # If you pass nothing to the print statement you get a blank line
print('Did you see that blank line?')
print('Blank line \nin the middle of string') # '\n' is a special character sequence that means print new line

Hello world single quotes
Hello world double quotes
Hello world

Did you see that blank line?
Blank line
in the middle of string

In [ ]:
first_name = 'Susan' # You can store strings in variables
print(first_name) # The variable can then be used later in your code

#------------------------------------------------

sentence = 'The dog is named Sammy'
print(sentence.upper()) # upper will return the string in uppercase letters
print(sentence.lower()) # lower will return the string in lowercase letters
print(sentence.capitalize()) # capitalize will return the string with the first letter uppercase and the rest of the string in lowercase
print(sentence.count('a')) #menghitung jumlah karakter a

#------------------------------------------------

# You can use the + operator to concatenate strings
first_name = 'Susan'
last_name = 'Ibach'
print(first_name + last_name)

# If you want a space between the strings you must include the space
# within the string
print('Hello ' + first_name + ' ' + last_name)

Susan
THE DOG IS NAMED SAMMY
the dog is named sammy
The dog is named sammy
2
SusanIbach
Hello Susan Ibach

In [ ]:
pi = 3.14159 # You can use variables to store numeric values
print(pi)

#------------------------------------------------

# doing math
first_num = 6
second_num = 2

# You can peform a variety of math operations on numeric values
print('addition', first_num + second_num)
print('subtraction', first_num - second_num)
print('multiplication', first_num * second_num)
print('division', first_num / second_num)
print ('exponent', first_num ** second_num)

#------------------------------------------------

first_num = input('Enter first number ')
second_num = input('Enter second number ')
print(int(first_num) + int(second_num))

# float() converts a string to a decimal or float number e.g. 3.14159, 89.5, 1.0
print(float(first_num) + float(second_num))

3.14159
addition 8
subtraction 4
multiplication 12
division 3.0
exponent 36
Enter first number 123
Enter second number 45
168
168.0

In [10]:

for name in ['Christopher', 'Susan']:
    print(name)


for index in range(0, 2):
    print(index)


names = ['Christopher', 'Susan']
index = 0
while index < len(names):
    print(names[index])
    index = index + 1


names = ['Christopher', 'Susan']
index = 0
while index in range(0,2):
    print(names[index])
    index = index + 1

Christopher
Susan
0
1
Christopher
Susan
Christopher
Susan

In [13]:
import datetime

def print_time():
    print('task completed')
    print(datetime.datetime.now())
    print()

first_name = 'Susan'

print_time()

for x in range(0,10):
    print(x)

print_time()

task completed
2024-03-18 07:22:05.679944

0
1
2
3
4
5
6
7
8
9
task completed
2024-03-18 07:22:05.682424